:root {
    --vp-c-brand: #ff9900;
    --vp-c-brand-light: #ffad33;
    --vp-c-brand-lighter: #ffc266;
    --vp-c-brand-dark: #e68a00;
    --vp-c-brand-darker: #cc7a00;
}

.dark {
    --vp-c-brand: #ff9900;
}

/* SXO Custom Styles */
.sxo-code-group {
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
}
